body {
  font-family: "Comic Sans MS" sans-serif;
}
table {
  border-collapse: collapse;
  width: auto;
}
th,
td {
  border: 1px solid;
}

th {
  font-weight: 900;
  font-size: larger;
  background-color: #e3e3e3;
  padding: 5px;
}
td {
  padding: 5px;
  text-align: center;
  font-weight: 800;
}
.conjuction {
  background-color: #120819;
}
.pink-row {
  background-color: #fd9bd6;
}
.container {
  margin: 0px auto;
  width: 50%;
}
.table > div {
  text-align: center;
}
.up-section {
  display: flex;
}
p {
  font-weight: 900;
}
h1 {
  font-weight: bolder;
}
.speech {
  text-align: center;
}

.englishbutton {
  font-family: "Comic Sans MS";
  background-color: #f9742a;
  width: 30%;
  padding: 10px;
  margin: auto;
  border-radius: 15px;
  color: white;
  margin-top: 60px;
  display: flex;
  font-size: 1.2rem;
  border: 1px solid black;
  justify-content: space-around;
  box-shadow: 2px 3px 5px 0px #5d5d6a;
}
